a {
	color: $color-primary;
	transition: color ease-in-out 0.3s;

	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li > &:hover,
	&:hover {
		color: $color-secondary;
	}
}

input[type='submit'],
a.fl-button,
.fl-builder-content a.fl-button {
	background-color: $color-primary;
	padding: 18px;
	transition: background ease-in-out 0.3s;

	&:hover {
		background-color: $color-secondary;
	}
}
